* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

.container {
    max-width: 50%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid lightgray
}

.menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-item {
    list-style: none;

    & a {

        font-weight: bold;
        text-decoration: none;
        padding: .75rem;
        color: #3B3B3B
    }

    & a:hover {
        color: black
    }
}

.hero-section {
    display: flex;
    align-items: center;
    margin-bottom: 2rem 0;
    gap: 2rem;
    height: 700px;
}

.hero-item {

    width: 50%;
    margin: auto 0;

    & h1 {
        font-size: 3.75rem;
        line-height: 1;
    }

    & p {
        font-size: 1.125rem;
        margin-top: 1.25rem;
        width: 90%;
    }

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center left;
    }

    & span {
        color: blue;
    }
}

.hero-item:last-child {
    height: inherit;
}

.hero-button {
    margin-top: 3.75rem;

    & div {
        display: inline-block;
    }

    & a {
        padding: 1rem 1.5rem;
        background-color: burlywood;
        border-radius: .5rem;
        color: blue;
        text-decoration: none;
    }
}
