* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

.logo {
    width: 120px;
}

.container {
    max-width: 50%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid lightgray
}

.menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-item {
    list-style: none;

    & a {
        font-weight: bold;
        text-decoration: none;
        padding: .75rem;
        color: #3B3B3B;
    }

    & a:hover {
        color: black
    }
}

.hero-section {
    display: flex;
    align-items: center;
    margin-bottom: 2rem 0;
    gap: 2rem;
    height: 700px;
}

.hero-item {
    width: 50%;
    margin: auto 0;

    & h1 {
        font-size: 3.75rem;
        line-height: 1;
    }

    & p {
        font-size: 1.25rem;
        margin-top: 1.25rem;
        line-height: 1.5;
        width: 90%;
        color: #646464
    }

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center left;
    }

    & span {
        color: var(--color-primary)
    }
}

.hero-item:last-child {
    height: inherit;
}

.hero-button {
    margin-top: 3.75rem;

    & div {
        display: inline-block;
    }

    & a {
        font-size: 1.125rem;
        color: 1.25rem;
        padding: 1rem 2.5rem;
        border-radius: .25rem;
        text-decoration: none;
    }
}

.btn-comecar-agora {
    background-color: var(--color-primary);
    color: #FFFFFF
}

.btn-saiba-mais {
    background-color: var(--bg-accent-light);
    color: var(--color-primary)
}

.bg-gray {
    background-color: var(--bg-page)
}

.info-section {
    text-align: center;
    padding: 3rem;

    & span {
        display: block;
        color: var(--color-primary);
        font-weight: 600;
        margin-bottom: 1rem
    }

    & h2 {
        font-size: 2.25rem;
        margin-bottom: 3rem;
    }
}

.info-content {
    display: flex;
    gap: 2rem;
}

.info-item {
    background-color: #FFFFFF;
    padding: 2rem 2rem;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(216, 216, 216, 0.2);

    & h3 {
        font-weight: 500;
        margin-bottom: 1rem;
    }

    & p {
        color: var(--text-lightgray);
        line-height: 1.5;    
    }
}

.info-svg {
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 4px;
    width: 3rem;
    margin: 0 auto 1rem;
    padding: .5rem;
    background-color: var(--color-primary);
}