* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-body)
}

body, html {
    height: 100%;
}

h2 {
    font-size: 2.25rem;
    margin-bottom: 3rem;
}

h3 {
    font-size: 1.25rem;
    color: var(--text-lightgray);
    font-weight: 500;
    margin: 1rem 0;
}

img {
    width: 100%;
}

body {
  min-height: 100vh;
}

main {
  min-height: calc(100vh - 133px); /* 80px = altura do footer */
}

.logo {
    width: 140px;    
}

.container {
    max-width: 1200px;
    padding: 0 2rem; 
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

#navigation {
    position: relative;
}

#navigation::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -1px;
    transform: translateX(-50%);
    width: 100vw;
    border-bottom: 1px solid #ddd;
}

.menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-item {
    list-style: none;

    & a {
        font-weight: 500;
        text-decoration: none;
        padding: .75rem;
        color: var(--text-lightgray);
    }

    & a:hover {
        color: var(--text-heading)
    }
}

.item-selected a{
    font-weight: bold;
    color: var(--color-primary)
}

.hero-section {
    display: flex;
    align-items: center;
    margin-bottom: 2rem 0;
    gap: 2rem;
    height: 700px;
}

.hero-item {
    width: 50%;
    margin: auto 0;

    & h1 {
        font-size: 3.75rem;
        line-height: 1;
    }

    & p {
        font-size: 1.25rem;
        margin-top: 1.25rem;
        line-height: 1.5;
        width: 90%;
        color: #646464
    }

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center left;
    }

    & span {
        color: var(--color-primary)
    }
}

.hero-item:last-child {
    height: inherit;
}

.hero-button {
    margin-top: 3.75rem;

    & div {
        display: inline-block;
        margin-right: 1rem;
    }

    & a {
        font-size: 1.125rem;
        color: 1.25rem;
        padding: 1rem 2.5rem;
        border-radius: .25rem;
        text-decoration: none;
    }
}

.btn-comecar-agora {
    background-color: var(--color-primary);
    color: #FFFFFF
}

.btn-saiba-mais {
    background-color: var(--bg-accent-light);
    color: var(--color-primary)
}

.bg-gray {
    background-color: var(--bg-page)
}

.info-section {
    text-align: center;
    padding: 3rem 2rem;
}

.info-content {
    display: flex;
    gap: 2rem;
}

.info-item {
    background-color: #FFFFFF;
    padding: 2rem 1.5rem;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(216, 216, 216, 0.2);

    & h3 {
        font-weight: 500;
        margin-bottom: .5rem;
    }

    & p {
        color: var(--text-lightgray);
        line-height: 1.5;    
    }
}

.info-svg {
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 4px;
    width: 3rem;
    margin: 0 auto 1rem;
    padding: .5rem;
    background-color: var(--color-primary);
}

.subtitle-span {
    display: block;
    color: var(--color-primary);
    font-weight: 600;
    margin-bottom: 1rem
}

.split-section {
    display: flex;
    gap: 3rem;
}

.split-section-item {
    flex: 1;

    & p {
        font-size: 1.125rem;
        color: var(--text-lightgray);
        line-height: 1.5;
        margin-bottom: 1rem;
    }

    & svg {
        color: var(--text-lightgray)
    }

    & img {
        border-radius: 4px;
        box-shadow: 0 4px 4px 0 rgba(216, 216, 216, 0.2);
    }
}

.split-section-list li {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin-bottom: 1rem 0;
}

.intro-title {
    text-align: center;
    padding-top: 3rem;
}

.integrantes-section {
    margin-top: 3rem;

}

.integrantes-lista {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    text-align: center;
}

.integrantes-item {
    list-style: none;
    border-radius: 8px;
    border: 1px solid lightgray;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(216, 216, 216, 0.2);
}

.integrantes-descricao {
    padding: 1rem;
}

.nome-integrante {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.turma-integrante {
    display: block;
    margin-bottom: .5rem;
    color: var(--text-lightgray)
}

.integ-texto-desc {
    color: var(--color-primary)
}

.footer {
    background-color: var(--bg-footer);
    padding: 2rem 0;
    color: var(--text-on-dark)
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info {
    & div {
        margin-bottom: .5rem;
    }

    & span {
        font-size: 0.875rem
    }
}

.footer-menu {
    display: flex;
    list-style: none;
    gap: 1rem;

    & a {
        text-decoration: none;        
        color: var(--text-on-dark)
    }

    & a:hover {   
        color: #c1cfe2;
    }
}