* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 50%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid lightgray
}

.menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-item {
    list-style: none;

    & a {
        font-size: 1.25rem;
        font-weight: bold;
        text-decoration: none;
        padding: .75rem;
        color: #3B3B3B
    }

    & a:hover {
        color: black
    }
}

.hero-section {
    display: flex;
    margin: 2rem 0;
}

.hero-item {
    flex: 1;

    & h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    & p {
        font-size: 1.125rem;
    }

}

.hero-button {        
    margin: 2rem 0;

    & a {
        padding: 1rem 1.5rem;
        background-color: burlywood;
        border-radius: .5rem;
        color: blue;
        text-decoration: none;

    }
}