* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid lightgray
}

.menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-item {
    list-style: none;

    & a {
        font-size: 1.25rem;
        font-weight: bold;
        text-decoration: none;
        padding: .75rem;
        color: #3B3B3B
    }
}